[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-solarsystem
Exec=harbour-solarsystem
Name=Solar System
Name[de]=Sonnensystem

